.section-header {
    margin: 10px;
}

.section-header,
h3 {
    text-align: center;
}

#about-me-header {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.bio-overview {
    text-align: left;
    padding: 0px 30px;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1024px) {
    .port-apps .section-header {
        margin: 5px auto;
        width: 80%;
    }
}
