.hero-content {
    background-color: rgba(255, 255, 255, 0.8);
}

.hero {
    margin: 0px;
    padding: 10px;
    align-content: center;
    text-align: center;
}

.name-header {
    margin: 20px;
}

.name {
    font-size: 30px;
}

.profile-photo {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #132721;
}

.skill-list {
    margin: 20px;
}

.hero ul {
    list-style: none;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
}

@media screen and (min-width: 480px) {
    .profile-photo {
        width: 300px;
        border-radius: 50%;
        border: 5px solid #132721;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .profile-photo {
        margin: 0px;
        width: 300px;
        height: 300px;
    }

    .name {
        display: none;
    }
}
