.section-header {
    margin: 10px;
}

.section-header,
h3 {
    text-align: center;
}

.port-overview {
    text-align: left;
    padding: 0px 30px;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 2px solid #062c44;
    color: white;
}

.port-overview-alt {
    text-align: left;
    padding: 0px 30px;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 2px solid #062c44;
    color: black;
}

.overview-header {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 2px;
}

.port-app {
    display: flex;
    flex-direction: column;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
    background-color: rgba(0, 0, 0, 0.6);
}

.port-app-alt {
    display: flex;
    flex-direction: column;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
    background-color: rgba(255, 255, 255, 0.8);
}

#applications-header {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 5px;
}

#applications-header-alt {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 5px;
}

.port-images {
    display: flex;
    flex-direction: column;
}

.port-images img {
    width: 50%;
    align-self: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px darkgrey;
}

.port-overview ul,
.port-overview-alt ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.port-text-alt {
    color: black;
}

.port-buttons {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 24px;
}

.try-it:hover,
.check-it-out:hover {
    transform: scale(1.2);
    background-color: rgb(200, 200, 200);
    color: black;
}

.try-it {
    width: 50%;
    margin: 10px auto;
    font-weight: bold;
    border-radius: 10px;
    align-self: center;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

.check-it-out {
    width: 60%;
    margin: 10px auto;
    font-weight: bold;
    border-radius: 10px;
    align-self: center;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

.a-text {
    height: 100%;
    margin: auto 10px auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 480px) {
    .port-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .port-images img {
        width: 35%;
        align-self: center;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px #27aee6;
    }

    .port-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .try-it,
    .check-it-out {
        width: 35%;
    }
}

@media screen and (min-width: 1024px) {
    .port-apps {
        display: flex;
        justify-content: column;
    }

    .port-apps .section-header {
        margin: 5px auto;
        width: 80%;
    }

    .port-images,
    .port-overview,
    .port-overview-alt {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        padding: 5%;
        text-align: center;
        border-bottom: none;
    }

    .port-images {
        padding: auto;
        margin: auto;
        border-right: 1px solid #27aee6;
    }

    .port-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .port-images img {
        width: 40%;
        align-self: center;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px #27aee6;
    }

    .port-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-top: 2px solid #062c44;
    }

    .port-buttons > a {
        width: 30%;
        height: 100px;
    }
}
