.page-links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*background-color: #29abe2;*/
    /*background-color: #629284;*/
    border-top: 2px solid #132721;
    /*border-bottom: 2px solid #132721;*/
    font-size: 24px;
}

.portfolio-link,
.aboutMe-link {
    height: 60px;
    width: 60%;
    margin: 10px auto;
    /*background-color: #062c44;*/
    /*background-color: #132721;*/
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px auto;
    transition: all 0.2s ease-in-out;
}

.link-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin: auto;
}

.portfolio-link:hover,
.aboutMe-link:hover {
    border: 2px solid white;
    transform: scale(1.2);
    background-color: #132721;
    color: white;
}

@media screen and (min-width: 480px) {
    .page-links {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .portfolio-link {
        width: 50%;
        margin: 10px 20px 10px 15%;
    }

    .aboutMe-link {
        width: 50%;
        margin: 10px 15% 10px 20px;
    }
}

@media screen and (min-width: 1024px) {
    .page-links {
        position: relative;
        width: 100%;
        height: 250px;
        padding: 0px;
        margin-top: 50px;
    }

    .portfolio-link {
        height: 200px;
        width: 25%;
        position: absolute;
        top: -50px;
        left: 25%;
        right: 50%;
        margin: 0px;
    }

    .aboutMe-link {
        height: 200px;
        width: 25%;
        position: absolute;
        top: -50px;
        right: 15%;
        left: 51%;
        margin: 0px;
    }
}
